/* @@author A0113992B */
.button-menu {
	-fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-text-fill:white;
}

.vbox-outer {
	-fx-background-color: white;
	-fx-border-color: #5e64b1;
	-fx-border-width: 3px;
	-fx-font-family: "Arial Rounded MT Bold";
}

.vbox-taskpanel {
	-fx-border-color: derive(#5e64b1,20%);
	-fx-border-width: 1px;
}

.anchorpane-command {
	-fx-border-color: #5e64b1;
	-fx-border-width: 2px;
}

.anchorpane-menu {
	-fx-background-color:#5e64b1; 
}

.label-scope {
	-fx-font-size: 12pt;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-text-fill: #83c6de;
	
}

.label-header {
    -fx-font-size: 15pt;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-text-fill:#f194b6 ;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-text-fill: #f7cacf;
    -fx-prompt-text-fill: #f7cacf;
}

.list-cell:filled:selected {
	-fx-background-color:#a3d6e8; 
}

.list-cell:filled:hover {
    -fx-background-color: #f194b6;
    -fx-text-fill: white;
}

.list-cell:even .label {
    -fx-text-fill: white;
    -fx-font-size: 12pt;
}

.list-cell:odd .label {
	-fx-text-fill: #5e64b1;
	-fx-font-size: 12pt;
}

.list-view .list-cell:even {
	-fx-control-inner-background: #5e64b1;
}
.list-view .list-cell:odd {
	-fx-control-inner-background: white;
}

.result-display {
    -fx-control-inner-background: #5e64b1;
    -fx-text-fill: white;
}

.context-menu {
    -fx-background-color: #f7cacf;
}

.menu-bar {
    -fx-background-color: #5e64b1;
}

.menu-bar .label {
    -fx-font-size: 10pt;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-text-fill: white;
}

.scroll-bar .thumb {
    -fx-background-color: derive(#5e64b1,20%);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

